* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #f0fff0;
}

body {
  margin: 3rem 5%
}

h1 {
  font-size: 3rem;
  margin: 2rem 0;
  width: fit-content
}

h2 {
  font-size: 2rem;
}

p {
  max-width: 1000px;
  line-height: 1.35;
}

header {
  display: grid;
  place-content: center;
}

nav ul {
  list-style: none;
  text-align: center;
  margin: 3rem 0;
  background-color: #8e6c59;
  border-radius: .5rem; 
}

nav li {
  display: inline-block;
  font-size: 1.2rem;
  padding: 1rem;
  
}
nav a {
  color: white;
  text-decoration: none;
  position: relative; 
  z-index: 1;
  
}

nav a:hover::before {
  transform: rotate(3deg);
}

nav a::before {
  content: '';
  background: #ffe4c090;
  position: absolute;
  height: 5px;
  right: 0;
  left: 0;
  bottom: -2px;
  z-index: -1;
  transition: 0.1s ease;
  transform: rotate(-3deg);
}

#promo-banner {
  background: url('images/cameron-smith-28c3pajQlyI-unsplash.jpg') top / cover no-repeat;
  padding: 1rem
}

#promo-banner h1, #promo-banner p {
  padding: .75rem;
  border-radius: .2rem;
  color: #fff;
  background-color: #8e6c598c;
}

img {
  max-width: 8rem;
}

section {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  border-radius: .5rem;
  margin: 3rem 0;
}

section:nth-of-type(1) {
  flex-direction: column;
}

article {
  flex: 1;
  min-width: 300px;
  background-color: #ffe4c0;
  padding: 2rem 1rem;
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem
}

article img {
  max-width: 100%;
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
  transition: 0.5s ease-in-out;
}

article img:hover {
  transform: scale(1.2);
}

article div {
  display: inline-block;
  overflow: hidden;
}

article h2 {
  width: fit-content;
  position: relative;
  z-index: 1;
} 

article h2:hover::before {
  transform: rotate(3deg);
}

article h2::before {
  content: '';
  position: absolute;
  background: #8e6c598c;
  height: .5rem;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  transition: 0.1s ease;
  transform: rotate(-3deg);
}

footer {
  display: flex;
}

footer div {
  flex: 1;
}

footer img {
  max-width: 3rem;
}

#copyright {
  border-top: 2px solid black;
  text-align: right;
}